.form_label {
  font-size: 1.2rem;
  font-weight: bold;
}
.input_field_password{
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: rgb(235, 234, 234);
}

.input_field_password:focus {
  outline: none;
}
