.video-background-container {
  width: 100%;
  min-height: 80vh;
  object-fit: contain;
  position: relative;
}

video {
  width: 100%;
  min-height: 80vh;
  object-fit: cover;
  z-index: -1;
}

.content {
  font-family: "Satisfy", cursive;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-yellow);
}
.content h1 {
  line-height: 5rem;
  font-size: 5rem;
  font-weight: 400;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
