/* general */
.register-container {
  margin: auto;
}
.register-container_left h3 {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* left side */
.register-container_left li {
  margin-bottom: 20px;
}

.register-container_left span {
  font-family: Satisfy;
  color: var(--text-yellow);
}

/* right */

.register-container_right {
  background-image: url("https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8amFwYW58ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:right;
  border-radius: 101px 0px 100px 0px;
  -webkit-border-radius: 101px 0px 100px 0px;
  -moz-border-radius: 101px 0px 100px 0px;
  outline: 10px solid rgba(255, 255, 255, 0.4);
  outline-offset: -20px;
  font-size: 1.2rem;
}

.register-form_toggle_member_btn {
  text-decoration: none;
  color: var(--plain-white);
}
.register-form_toggle_member_btn:hover {
  text-decoration: none;
  color: var(--text-yellow);
}

.register-form_login_btn {
  background-color: var(--secondary-color);
  border: none;
}
.register-form_login_btn:hover {
  background-color: var(--text-yellow);
}

@media screen and (max-width: 767px) {
  .register-container_right {
    margin-bottom: 20px;
  }
}
