:root {
  --main-color: #fff1ef;
  --secondary-color: #bf417a;
  --plain-white: #fff;
  --plain-black: #000;
  --text-yellow: #d86096;
}

/* GENERAL */

.fullPage {
  min-height: 93vh;
  padding: 0;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

hr {
  color: var(--secondary-color);
}
